section.portfolio {
    text-align: center;
    margin-bottom: 100px;
    max-width: 910px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

section.portfolio>h2 {
    text-align: center;
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
}

section.portfolio>nav {
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin-top: 32px;
}

section.portfolio>nav>ol {
    margin: 0 auto;
    display: inline-block;
    vertical-align: top;
}

section.portfolio>nav>ol>li {
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin-left: 50px;
    cursor: pointer;
}

section.portfolio>nav>ol>li:first-child {
    margin-left: 0;
}

section.portfolio>nav .bar {
    height: 5px;
    background: white;
    margin-top: 5px;
    margin-bottom: 28px;
    border-radius: 2px;
}

section.portfolio>nav .bar-inner {
    height: 100%;
    background: #e6686a;
    border-radius: 2px;
    transition: all 0.3s;
}

section.portfolio>nav .bar.state-1 .bar-inner {
    margin-left: 0;
    width: 50px;
}

section.portfolio>nav .bar.state-2 .bar-inner {
    margin-left: 65px;
    width: 50px;
}

section.portfolio>nav .bar.state-3 .bar-inner {
    margin-left: 155px;
    width: 84px;
}

section.portfolio .works {
    position: relative;
}

section.portfolio .works>.big, section.portfolio .works>.small {
    position: absolute;
}

section.portfolio .works img {
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
}