.topNavBar {
    padding: 20px 0px;
    position: fixed;
    color: #b1b5b9;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    transition: all 0.5s;
}

.topNavBar a {
    float: left;
}

.topNavBar nav {
    float: right;
    padding-top: 7px;
}

.topNavBar nav>ul {
    margin: 0;
    padding: 0;
}

.topNavBar nav>ul>li {
    float: left;
    margin: 0px 17px;
    position: relative;
}

.topNavBar.sticky {
    background: white;
    padding: 10px 0px;
    color: #3d4451;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.19), 0 6px 10px rgba(0, 0, 0, 0.23);
}

.topNavBar-inner {
    padding: 0 16px;
    transform: translateY(0);
    transition: all 0.5s;
}

.topNavBar-inner.offset {
    transform: translateY(-100px);
}

.topNavBar .submenu {
    display: none;
    position: absolute;
    right: 0;
    top: 110%;
    background: white;
    color: #3d4451;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.19), 0 6px 10px rgba(0, 0, 0, 0.23);
}

.topNavBar li:hover>.submenu {
    display: block;
    animation: submenu .3s;
}

.topNavBar .submenu>li {
    white-space: nowrap;
    padding: 10px 20px;
    font-size: 12px;
    cursor: pointer;
}

.topNavBar .submenu>li:hover {
    color: #EC8A8D;
    background: #FAFAFA;
}

@keyframes submenu {
    0% {
        margin-right: 100%;
    }
    100% {
        margin-right: 0px;
    }
}

.topNavBar nav>ul>li>a {
    font-size: 12px;
    color: inherit;
    font-weight: bold;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
}

.topNavBar nav>ul>li.active>a::after, .topNavBar nav>ul>li.hightlight>a::after {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #e06567;
    height: 3px;
    animation: menuSlide .3s;
}

@keyframes menuSlide {
    0% {
        width: 0;
    }
    100% {
        width: 100%
    }
}

[data-x].offset {
    transform: translateY(200px)
}

[data-x] {
    transform: translateY(0);
    transition: all 0.5s;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.topNavBar .logo {
    font-size: 24px;
    font-family: 'Arial Black';
    padding-top: 3px;
    padding-bottom: 4px;
}

.topNavBar .logo .rs {
    margin-right: 4px;
    color: #e6686a;
}

.topNavBar .logo .card {
    color: #9a9da2;
}