body {
    background: #efefef;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

* {
    margin: 0;
    padding: 0;
}

hr {
    height: 0;
    border: none;
    border-top: 1px solid #dedede;
}

ul, ol {
    list-style: none;
}

h2 {
    text-align: center;
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 30px;
}
form{
    width: 600px;
    padding: 80px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
#messageList{
    width:800px;
    margin: 0 auto;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
}
#messageList > li{
    padding: 20px;
    border-bottom: 1px solid #DDD;
}